# Set as whitelist
*
!*/*

# Track itself
!.gitignore

# Folders and files
!picom.conf
!alacritty/*
!bspwm/*
!dunst/*
!polybar/*
!qt5ct/*
!rofi/*
!rofi/colors/*
!sxhkd/*
!zsh/*

# Ignore directories that are already git repos
polybar/modules/polybar-calendar
zsh/plugins/fast-syntax-highlighting
zsh/plugins/history-search-multi-word
zsh/plugins/powerlevel10k
zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-autopair

# Ignore log and dump files
zsh/.zcompdump
